# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Database
db.sqlite3

# Media
media/

# Static collected
staticfiles/

# OS
.DS_Store
Thumbs.db

# Environment
.env